header {
    background-color: aquamarine;
}
.nav-link {
    color: black;
}
body {
    font-family: Raleway;
    background-color: #FAFAFA;
}
.display-4 {
    text-align: center;
    font-weight: 400;
}
.jumbotron {
    background-color: #d8c5f0;
    text-align: center;
}
.wellReadJumbo {
    width: 300px;
}
.lead {
    text-align: center;
}
.follow {
    text-align: center;
}
.row {
    display: flex;
    justify-content: space-around;
    margin: 8px;
}
.research-card {
    background-color: #C8BFC7;
    border-radius: 12px;
    margin-bottom: 20px;
}
.media {
    margin: 20px;
}
#returnTop {
    text-align: right;
    padding: 20px;
}
footer {
        background-color: #afabcb;
}
.bottomLogo {
    display: inline-block;
    width: 23%;
    padding: 1%;
}
.footerNav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 10px;
}
#socialMedia {
    display: flex;
    flex-direction: row;
    -ms-flex-align: start;
}
@media only screen and (max-width: 600px) { 
}
