header {
    background-color: #D1495B;
}
.nav-link {
    color: black;
}
body {
    font-family: Raleway;
    background-color:#F9F8F8;
}
#navbarNav {
justify-content: end;
}
.display-4 {
    text-align: center;
    color: #F3F7F0;
    font-weight: 400;
}
.jumbotron {
    background-color: #00798C;
    text-align: center;
    margin-bottom: 0;
}
.wellReadJumbo {
    width: 300px;
}
.lead {
    text-align: center;
    color: #F3F7F0;
}
.follow {
    text-align: center;
    color: #F3F7F0;
}
.row {
    display: flex;
    justify-content: space-around;
    margin: 8px;
}
.research-card {
    background-color: #C8BFC7;
    border-radius: 12px;
    margin-bottom: 20px;
}
.media {
    margin: 20px;
}
#returnTop {
    text-align: right;
    padding: 20px;
}
footer {
        background-color: #00798C;
}
.bottomLogo {
    display: inline-block;
    width: 23%;
    padding: 1%;
}
.footerNav {
    display: inline-block;
    vertical-align: top;
    text-align: right;
    padding: 10px;
}
#socialMedia {
    display: flex;
    flex-direction: row;
    -ms-flex-align: start;
}
@media only screen and (max-width: 600px) { 
    .media {
        display: block;
    }
}
@media only screen and (max-width: 600px) { 
    .media-body {
        margin: 15px;
    }
}
